<div class="login-wrapper">
  <div class="login-box">
    <div class="logo-wrapper">
      <img alt="logo" nz-image [nzSrc]="'assets/icon/logo.svg'" [nzDisablePreview]="true">
    </div>
    <div class="form-wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h5>LOGIN</h5>
        <nz-form-item>
          <nz-form-control nzErrorTip="The input is not valid E-mail!">
            <nz-input-group nzPrefixIcon="user">
              <input nz-input formControlName="email" type="email" placeholder="E-mail"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your password!">
            <nz-input-group nzPrefixIcon="lock">
              <input nz-input formControlName="password" type="password" placeholder="Password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-col nzSpan="24">
              <button nz-button nzType="primary" [disabled]="loginForm.invalid" style="width: 100%;">Login</button>
              <a (click)="navigateToRegister()">Register</a>
            </nz-col>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <b style="color:red" *ngIf="error" class="error">
            {{error}}
          </b>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
