<nz-row nzJustify="center" class="px-4 py-3" *ngIf="card">
  <nz-col nzSpan="24" class="h-100">
    <nz-row>

      <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="8" [nzXXl]="8" class="mt-2"
              style="display:inline-flex; align-self: stretch">
        <nz-card class="w-100" style="display: flex; justify-content: center;" *ngIf="card">
          <img [src]="card.image_uris.normal" height="500px">
          <nz-divider></nz-divider>
          <nz-row>
            <span class="font-size-sm text-muted">
              SET
            </span>
          </nz-row>
          <a (click)="navigateToSetCardList(card.set)">
            <div style="margin-top: 30px; background-color: #401E3D; color: white; padding: 10px; height: 60px; display: flex;
            align-items: center; border-radius: 5px;">
              <span style="font-size: 15px; display: inline-block; margin-left: auto; margin-right: auto;">
                {{ card.set_name }} ({{ card.set | uppercase }})
              </span>
            </div>
          </a>
        </nz-card>
      </nz-col>

      <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8" class="mt-2 w-100"
              style="display:inline-flex; align-self: stretch">
        <nz-card class="w-100">
          <nz-row>
            <span class="font-size-sm text-muted">
              NAME
            </span>
          </nz-row>
          <nz-row>
            <span class="font-size-sm text-info">
              {{card.name}}
            </span>
          </nz-row>
          <nz-divider></nz-divider>
          <nz-row>
            <span class="font-size-sm text-muted">
              TYPE
            </span>
          </nz-row>
          <nz-row>
            <span class="font-size-sm text-info">
              {{card.type_line}}
            </span>
          </nz-row>
          <nz-divider></nz-divider>
          <nz-row>
            <span class="font-size-sm text-muted">
              ORACLE
            </span>
          </nz-row>
          <nz-row>
            <span class="font-size-sm text-info">
              {{card.oracle_text}}
            </span>
          </nz-row>
          <nz-divider></nz-divider>
          <nz-row *ngIf=" card.rulings.length> 0">
            <span class="font-size-sm text-muted">
              RULINGS
            </span>
          </nz-row>
          <nz-row *ngIf=" card.rulings.length> 0">
            <span class="font-size-sm text-info" *ngFor="let ruling of card.rulings">
              {{ruling.comment}}
            </span>
          </nz-row>
          <nz-divider *ngIf="card.rulings.length > 0"></nz-divider>
          <nz-row *ngIf="card.power">
            <span class="font-size-sm text-muted">
              POWER
            </span>
          </nz-row>
          <nz-row *ngIf="card.power">
            <span class="font-size-sm text-info mt-3">
             {{card.power}} / {{card.toughness}}
            </span>
          </nz-row>
          <nz-divider *ngIf="card.power"></nz-divider>
          <nz-row>
            <span class="font-size-sm text-muted">
              LEGALITIES
            </span>
          </nz-row>
          <nz-row>
            <div style="display:flex; flex-wrap: wrap">
              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.standard === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Standard
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.historic === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Historic
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.pioneer === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Pioneer
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.modern === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Modern
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.legacy === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Legacy
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.alchemy === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Alchemy
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.explorer === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Explorer
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.brawl === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">Brawl
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.vintage === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Vintage
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.pauper === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Pauper
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.commander === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">
                    Commander
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.penny === 'legal' ? '#87d068' : '#848484'" nzMode="default"
                          style="width: 80px; border-radius: 5px;">Penny
                  </nz-tag>
                </div>
              </div>

              <div style="width: 80px; margin: 3px 5px 5px 0px">
                <div style="text-align: center;">
                  <nz-tag [nzColor]="card.legalities.oathbreaker === 'legal' ? '#87d068' : '#848484'"
                          nzMode="default" style="width: 80px; border-radius: 5px;">
                    Oathbreaker
                  </nz-tag>
                </div>
              </div>
            </div>
          </nz-row>
        </nz-card>
      </nz-col>

      <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8" class="mt-2 w-100"
              style="display:inline-flex; align-self: stretch">
        <nz-card class="w-100">

          <nz-row>
            <span class="font-size-sm text-info mt-3">
              BUY THIS CARD
            </span>
          </nz-row>
          <nz-divider></nz-divider>

          <nz-row>
              <span class="font-size-sm text-info mt-3 px-5 buy-button-tcg"
                    style="border: 1px solid #87d068; border-radius: 5px; display: inline-flex; justify-content: center; width: 50%; align-items: center">
                <a href="{{card.purchase_uris.tcgplayer}}" target="_blank">TCGplayer</a>
              </span>
          </nz-row>

          <nz-row>
            <span class="font-size-sm text-info mt-3 px-5 buy-button-cm"
                  style="border: 1px solid purple; border-radius: 5px; display: inline-flex; justify-content: center; width: 50%; align-items: center">
              <a href=" {{card.purchase_uris.cardmarket}}" target="_blank">Cardmarket</a>
            </span>
          </nz-row>

          <nz-row>
            <span class="font-size-sm text-info mt-3 px-5 buy-button-ch"
                  style="border: 1px solid orange; border-radius: 5px; display: inline-flex; justify-content: center; width: 50%; align-items: center">
              <a href="{{card.purchase_uris.cardhoarder}}" target="_blank">Cardhoarder</a>
            </span>
          </nz-row>

        </nz-card>
      </nz-col>

    </nz-row>
  </nz-col>
</nz-row>



