.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 0 auto 15px;
}

.searchInput {
  flex: 1;
}

.randomCard {
  margin-left: 10px;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
