.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 0 auto 15px;
}

.inputContainer {
}

.searchInput {
  flex: 1;
  height: 100%;
}

.ant-divider-horizontal {
  margin: 10px 0;
}

.buttonContainer {
  background-color: rgba(64,30,61, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 10px;
}

.small-input-group {
  width: 400px;
}

.button {
  margin: 0 5px;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
