<div class="spinner-container" *ngIf="showTableLoading">
  <nz-spin></nz-spin>
</div>

<div class="searchContainer">
  <div class="searchInput">
    <nz-input-group nzSearch nzSize="large" [nzSuffix]="searchButton">
      <input type="text" nz-input placeholder="Enter a card" [(ngModel)]="term" (keyup.enter)="searchCards()" />
      <button nz-button nzType="primary" nzSize="large" nzSearch class="button"
              (click)="getRandomCard()"
              nz-tooltip
              nzTooltipTitle="Random card"
              nzTooltipPlacement="bottom"
              nzTooltipTrigger="hover"><span nz-icon nzType="question-circle" nzTheme="outline"></span></button>
    </nz-input-group>

    <a (click)="toggleButtons()">Advanced search</a>

    <div class="buttonContainer" *ngIf="showButtons">
      <div class="inputContainer">
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="searchByMultiverseButton" class="small-input-group">
          <input type="text" nz-input placeholder="Enter multiverse id" [(ngModel)]="multiverse"/>
        </nz-input-group>
      </div>
      <nz-divider></nz-divider>
      <div class="inputContainer">
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="searchByCatalogButton" class="small-input-group">
          <input type="text" nz-input placeholder="Enter catalog id" [(ngModel)]="catalog" />
        </nz-input-group>
      </div>
      <nz-divider></nz-divider>
      <div class="inputContainer">
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="searchByCardIdButton" class="small-input-group">
          <input type="text" nz-input placeholder="Enter card id" [(ngModel)]="cardId"/>
        </nz-input-group>
      </div>
    </div>
  </div>
</div>
<ng-template #searchButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch
          (click)="searchCards()">Search</button>
</ng-template>

<ng-template #searchByMultiverseButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch
          (click)="getCardByMultiverse()">Search</button>
</ng-template>

<ng-template #searchByCatalogButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch
          (click)="getCardByCatalog()">Search</button>
</ng-template>

<ng-template #searchByCardIdButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch
          (click)="getCardByCardId()">Search</button>
</ng-template>


  <nz-table
    *ngIf="showTable"
    #rowSelectionTable
    nzShowSizeChanger
    [nzData]="cardList"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
    <tr>
      <th>Name</th>
      <th>Preview</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let card of rowSelectionTable.data">
      <td><a [routerLink]="card.id">{{ card.name }}</a></td>
      <td>
        <ng-container *ngIf="card?.image_uris?.normal">
          <img alt="card" [nzSrc]="card?.image_uris?.normal || '/'" nz-image style="height: 40px">
        </ng-container>
        <ng-container *ngIf="!card?.image_uris?.normal">/</ng-container>
      <td>
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          <i nz-icon nzType="menu"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item [nzSelected]="false" style="pointer-events: none"></li>
            <a [routerLink]="card.id">
              <li nz-menu-item><i style="margin-right: 8px" nz-icon nzType="expand"></i>Details</li>
            </a>
            <a (click)="openModal(card.id, card.name, card.image_uris.normal)">
              <li nz-menu-item><i style="margin-right: 8px" nz-icon nzType="plus-circle"></i>Add to set</li>
            </a>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
    </tbody>
  </nz-table>

