<div class="spinner-container" *ngIf="showTableLoading">
  <nz-spin></nz-spin>
</div>
<nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="8" [nzXXl]="8" class="mt-2 mb-2"
        style="display: flex; align-self: stretch">
  <nz-card class="w-70" style="display: flex; align-items: center;" *ngIf="selectedSet">
    <div style="display: flex; align-items: center;">
      <div>
        <img alt="card" [nzSrc]="selectedSet.icon_svg_uri || '/'" nz-image style="height: 40px">
      </div>
      <div style="margin-left: 10px;">
        <div>{{ selectedSet.name }}</div>
        <div>{{ selectedSet.card_count }} cards</div>
      </div>
    </div>
  </nz-card>
</nz-col>
<nz-table
  *ngIf="showTable"
  #rowSelectionTable
  nzShowSizeChanger
  [nzData]="setCardList"
  [nzTotal]="totalItems"
  [nzPageIndex]="currentPageIndex"
  [nzPageSize]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzFrontPagination]="false">
  <thead>
  <tr>
    <th>Name</th>
    <th>Preview</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let card of rowSelectionTable.data">
    <td><a [routerLink]="card.id">{{ card.name }}</a></td>
    <td>
      <ng-container *ngIf="card?.image_uri_normal">
        <img alt="card" [nzSrc]="card?.image_uri_normal || '/'" nz-image style="height: 40px">
      </ng-container>
      <ng-container *ngIf="!card?.image_uri_normal">/</ng-container>
    <td>
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <i nz-icon nzType="menu"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item [nzSelected]="false" style="pointer-events: none"></li>
          <a [routerLink]="card.id">
            <li nz-menu-item><i style="margin-right: 8px" nz-icon nzType="expand"></i>Details</li>
          </a>
        </ul>
      </nz-dropdown-menu>
    </td>
  </tr>
  </tbody>
</nz-table>
